@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Rimuoviamo le impostazioni di body che forzano background e font, 
   lasciando che Tailwind gestisca tutto tramite le classi in page.tsx e layout.tsx */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Garantisce che non ci siano scrollbar extra */
}
* {
  touch-action: manipulation;
  box-sizing: border-box;
}